{% extends 'base.html.jinja' %}

{% block content %}
    <section class="mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <p><b>Selected Drug:</b> <span id="selected-drug"></span></p>

                    <p><b>Drugs:</b></p>
                    <ul id="drugs"></ul>
                </div>
                <div class="col-md">
                    <p><b>Selected Target:</b> <span id="selected-target"></span></p>

                    <p><b>Targets:</b></p>
                    <ul id="targets"></ul>
                </div>
                <div class="col-md-6">
                    <p><b>Status:</b> <span id="status"></span></p>
                    <p><b>Prediction:</b> <span id="prediction"></span></p>
                    <div id="visualization" class="position-relative border rounded w-100" style="height: 0; padding-bottom: 100%"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ super() }}

    <script>
        const drug_projections_url = {{ url_for('pairings.drug_projections', pairing_id=pairing.id)|tojson }}
        const target_projections_url = {{ url_for('pairings.target_projections', pairing_id=pairing.id)|tojson }}
        const predictions_url = {{ url_for('pairings.predictions', pairing_id=pairing.id)|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/pairings/visualization.js') }}"></script>
{% endblock %}
