{% extends 'base.html.jinja' %}

{% block content %}
    <section class="mb-3">
        <div class="container">
            <div class="d-flex mb-2">
                <h1 class="mb-0">Drug Sets</h1>

                <a class="btn btn-primary ms-auto my-auto" href="{{ url_for('sets.create_drug_set') }}">
                    Upload a Drug Set
                </a>
            </div>

            {% if drug_sets %}
                <ul>
                    {% for drug_set in drug_sets %}
                        <li>{{ drug_set.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                You have not uploaded any drug sets.
            {% endif %}
        </div>
    </section>

    <section class="mb-3">
        <div class="container">
            <div class="d-flex mb-2">
                <h1 class="mb-0">Target Sets</h1>

                <a class="btn btn-primary ms-auto my-auto" href="{{ url_for('sets.create_target_set') }}">
                    Upload a Target Set
                </a>
            </div>

            {% if target_sets %}
                <ul>
                    {% for target_set in target_sets %}
                        <li>{{ target_set.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                You have not uploaded any target sets.
            {% endif %}
        </div>
    </section>
{% endblock %}
